*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#748CAB;
    color: #001242;
    
    font-family: 'Baloo Paaji 2';
}
#intro{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color:#283618;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
h1{
    font-size:40px;
    text-align: center;
}
.something{
    position: relative;
    margin-top: 400px;
}
#calculator{
    background-color: #DDA15E;
    padding: 40px;
    border-radius: 10px;
    justify-content: center;
    /* width: 70%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    box-sizing: border-box;
    /* margin: 0,auto; */
    
    border:2px solid rebeccapurple;
    
}
select{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 3%;
    border-radius: 6px;
}
input{
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.calculate{
    font-size: large;
    font-weight: 700;
}